In [25]:
import pandas as pd
import numpy as np
stock1 = pd.read_csv('stocks1.csv')
print('dữ liệu cho 5 dòng dữ liệu đầu tiên của stock1 là:\n',stock1.head(5))
print('dữ liệu cho 5 dòng dữ liệu cuối của stocks1 là:\n',stock1.tail(5))
print('kiểu dữ liệu của stock1 là:\n',stock1.dtypes)
print('Thông tin của stock1 là:\n',stock1.info())

dữ liệu cho 5 dòng dữ liệu đầu tiên của stock1 là:
        date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
dữ liệu cho 5 dòng dữ liệu cuối của stocks1 là:
         date symbol     open     high      low    close   volume
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99  1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80  1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03  1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86  1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30  1166559
kiểu dữ liệu của stock1 là:
 date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 968.0+ bytes
Thông tin của stock1 là:
 None

In [26]:
stock2 = pd.read_csv('stocks2.csv')
print('5 dòng dữ liệu đầu của stock2 là:\n',stock2.head(5))
print('5 dòng dữ liệu cuối của stock2  là:\n',stock2.tail(5))
print('kiểu dữ liệu của stock2 là:\n',stock2.dtypes)
print('thông tin của stock2 là:\n',stock2.info())

5 dòng dữ liệu đầu của stock2 là:
        date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504
5 dòng dữ liệu cuối của stock2  là:
        date symbol    open      high     low   close    volume
5  01-03-19   TSLA  306.94  307.1300  291.90  294.79  22911375
6  04-03-19   TSLA  298.12  299.0000  282.78  285.36  17096818
7  05-03-19   TSLA  282.00  284.0000  270.10  276.54  18764740
8  06-03-19   TSLA  276.48  281.5058  274.39  276.24  10335485
9  07-03-19   TSLA  278.84  284.7000  274.25  276.59   9442483
kiểu dữ liệu của stock2 là:
 date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   symbol  10 non-null     object
 2   open    10 non-null     float64
 3   high    10 non-null     float64
 4   low     10 non-null     float64
 5   close   10 non-null     float64
 6   volume  10 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 688.0+ bytes
thông tin của stock2 là:
 None

In [27]:
df_stock_companies = pd.read_csv('companies.csv')
print(df_stock_companies.head(3))
print('kiểu dữ liệu của companies là:\n',df_stock_companies.dtypes)
print('Thông tin của companies là:\n',df_stock_companies.info())

   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
kiểu dữ liệu của companies là:
 name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                5 non-null      object
 1   employees           5 non-null      int64
 2   headquarters_city   5 non-null      object
 3   headquarters_state  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
Thông tin của companies là:
 None

In [28]:
if stock1.isnull().values.any():
    stock1['high'].fillna(stock1.groupby('symbol')['high'].transform('max'),inplace=True)
    print('stock1 có chứa giá trị Null !!! \n',stock1.info())
else:
    print('Không có giá trị Null trong stock1 !!!')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 968.0+ bytes
stock1 có chứa giá trị Null !!!
 None

In [29]:
if stock1.isnull().values.any():
    stock1['low'].fillna(stock1.groupby('symbol')['low'].transform('min'),inplace=True)
    print('Có giá trị Null trong stock1 !!!,\n',stock1.info())
else:
    print('không có giá trị Null trong stock1 !!!')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 968.0+ bytes
Có giá trị Null trong stock1 !!!,
 None

In [30]:
df_stock = pd.concat([stock1,stock2])
print('Dataframe sau khi gộp theo 15 dòng cuối là:\n',df_stock.tail(15))

Dataframe sau khi gộp theo 15 dòng cuối là:
         date symbol     open       high      low    close    volume
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06  1167.5700  1124.75  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483

In [31]:
df_stock_companies  = pd.concat([df_stock,df_stock_companies])
print('5 dòng dữ liệu đầu của stock_companies là:\n',df_stock_companies)

5 dòng dữ liệu đầu của stock_companies là:
         date symbol     open       high      low    close      volume  name  \
0   01-03-19   AMZN  1655.13  1674.2600  1651.00  1671.73   4974877.0   NaN
1   04-03-19   AMZN  1685.00  1709.4300  1674.36  1696.17   6167358.0   NaN
2   05-03-19   AMZN  1702.95  1707.8000  1689.01  1692.43   3681522.0   NaN
3   06-03-19   AMZN  1695.97  1709.4300  1620.51  1668.95   3996001.0   NaN
4   07-03-19   AMZN  1667.37  1669.7500  1620.51  1625.95   4957017.0   NaN
5   01-03-19   AAPL   174.28   175.1500   172.89   174.97  25886167.0   NaN
6   04-03-19   AAPL   175.69   177.7500   173.97   175.85  27436203.0   NaN
7   05-03-19   AAPL   175.94   176.0000   174.54   175.53  19737419.0   NaN
8   06-03-19   AAPL   174.67   175.4900   173.94   174.52  20810384.0   NaN
9   07-03-19   AAPL   173.87   174.4400   172.02   172.50  24796374.0   NaN
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316.0   NaN
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047.0   NaN
12  05-03-19   GOOG  1150.06  1167.5700  1124.75  1162.03   1443174.0   NaN
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289.0   NaN
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559.0   NaN
0   01-03-19     FB   162.60   163.1320   161.69   162.28  11097770.0   NaN
1   04-03-19     FB   163.90   167.5000   163.83   167.37  18894689.0   NaN
2   05-03-19     FB   167.37   171.8800   166.55   171.26  28187890.0   NaN
3   06-03-19     FB   172.90   173.5700   171.27   172.51  21531723.0   NaN
4   07-03-19     FB   171.50   171.7400   167.61   169.13  18306504.0   NaN
5   01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375.0   NaN
6   04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818.0   NaN
7   05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740.0   NaN
8   06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485.0   NaN
9   07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483.0   NaN
0        NaN    NaN      NaN        NaN      NaN      NaN         NaN  AMZN
1        NaN    NaN      NaN        NaN      NaN      NaN         NaN  GOOG
2        NaN    NaN      NaN        NaN      NaN      NaN         NaN  AAPL
3        NaN    NaN      NaN        NaN      NaN      NaN         NaN    FB
4        NaN    NaN      NaN        NaN      NaN      NaN         NaN  TSLA

    employees headquarters_city headquarters_state
0         NaN               NaN                NaN
1         NaN               NaN                NaN
2         NaN               NaN                NaN
3         NaN               NaN                NaN
4         NaN               NaN                NaN
5         NaN               NaN                NaN
6         NaN               NaN                NaN
7         NaN               NaN                NaN
8         NaN               NaN                NaN
9         NaN               NaN                NaN
10        NaN               NaN                NaN
11        NaN               NaN                NaN
12        NaN               NaN                NaN
13        NaN               NaN                NaN
14        NaN               NaN                NaN
0         NaN               NaN                NaN
1         NaN               NaN                NaN
2         NaN               NaN                NaN
3         NaN               NaN                NaN
4         NaN               NaN                NaN
5         NaN               NaN                NaN
6         NaN               NaN                NaN
7         NaN               NaN                NaN
8         NaN               NaN                NaN
9         NaN               NaN                NaN
0    613300.0           Seattle                 WA
1     98771.0     Mountain View                 CA
2    132000.0         Cupertino                 CA
3     48268.0        Menlo Park                 CA
4     48016.0         Palo Alto                 CA

In [32]:
average_open = df_stock_companies['open'].mean()
average_high = df_stock_companies['high'].mean()
average_low = df_stock_companies['low'].mean()
average_close = df_stock_companies['close'].mean()
average_volume = df_stock_companies['volume'].mean()
print('Giá trị trung bình của open là:\n',average_open)
print('Giá trị trung bình của high là:\n',average_high)
print('Giá trị trung bình của low là:\n',average_low)
print('Giá trị trung bình của close là:\n',average_close)
print('Giá trị trung bình của volume là:\n',average_volume)

Giá trị trung bình của open là:
 692.0672000000002
Giá trị trung bình của high là:
 697.8723120000001
Giá trị trung bình của low là:
 680.7084
Giá trị trung bình của close là:
 689.306
Giá trị trung bình của volume là:
 13024727.36

In [33]:
Max_close = df_stock_companies['close'].max()
Min_close = df_stock_companies['close'].min()
print("Giá trị đóng lớn nhât của mỗi cônt ty là:\n",Max_close)
print("Giá trị đóng cửa nhỏ nhất của mỗi công ty là:\n",Min_close)
print("Giá trị đóng cửa trung bình của mỗi công ty là:\n",average_close)

Giá trị đóng lớn nhât của mỗi cônt ty là:
 1696.17
Giá trị đóng cửa nhỏ nhất của mỗi công ty là:
 162.28
Giá trị đóng cửa trung bình của mỗi công ty là:
 689.306

In [34]:
df_stock_companies = pd.to_datetime(df_stock_companies['date'])
print(df_stock_companies)

0    2019-01-03
1    2019-04-03
2    2019-05-03
3    2019-06-03
4    2019-07-03
5    2019-01-03
6    2019-04-03
7    2019-05-03
8    2019-06-03
9    2019-07-03
10   2019-01-03
11   2019-04-03
12   2019-05-03
13   2019-06-03
14   2019-07-03
0    2019-01-03
1    2019-04-03
2    2019-05-03
3    2019-06-03
4    2019-07-03
5    2019-01-03
6    2019-04-03
7    2019-05-03
8    2019-06-03
9    2019-07-03
0           NaT
1           NaT
2           NaT
3           NaT
4           NaT
Name: date, dtype: datetime64[ns]

C:\Users\phong\AppData\Local\Temp\ipykernel_5644\419235079.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_stock_companies = pd.to_datetime(df_stock_companies['date'])